= ecmc_form_for form_model, html: { class: 'form-columnal' } do |f|
  .row
    .col-lg-6
      = f.input :treatment_intent, :as => :select, :collection => TreatmentIntentLookup.all, :value_method => :name
      %h3
        = I18n.t :preop_chemo, scope: [:activerecord, :models]
      = f.input :preop_chemo_type, :as => :select, :collection => IntentLookup.order(:name), :value_method => :name
      = f.input :preop_chemo_reg, :as => :select, :collection => ChemotherapyRegimen.order(:name), :value_method => :name
      = f.input :chemotherapy_why_off_lookup, :as => :select, :collection => ChemotherapyWhyOffLookup.all, :value_method => :name
      = f.input :preop_chemo_complications
      %h3
        = I18n.t :postop_chemo, scope: [:activerecord, :models]
      = f.input :postop_chemo_commenced_date, :as => :date
      = f.input :post_op_intent, :as => :select, :collection => %w(Adjuvant Palliative), :value_method => :to_s, :text_method => :to_s
      = f.input :postop_chemo_reg, :as => :select, :collection => ChemotherapyRegimen.all, :value_method => :name
      = f.actions
    .col-lg-6
      %h3
        = I18n.t :radio, scope: [:activerecord, :models]
      = f.input :radio_type, :as => :select, :collection => RadiotherapyIntentLookup.all, :value_method => :name
      = f.input :radio_dose
      = f.input :radio_fractions
      = f.input :radio_complications
      = f.input :patient_received_deuterium, :as => :select, :collection => YesNoUnknown.all, :value_method => :name
      %h3
        = I18n.t :surgery, scope: [:activerecord, :models]
      = f.input :surgery_happened, :as => :select, :collection => YesNoUnknown.all, :value_method => :name
      = f.input :surgery_date, :as => :date
      = f.input :surgery_consultant, :as => :select, :collection => SurgeryConsultant.all, :value_method => :name
      = f.input :surgery_operation, :as => :select, :collection => surgery_phases_options(:general), :value_method => :to_s, :text_method => :to_s
      = f.input :abdominal_phase, :as => :select, :collection => surgery_phases_options(:abdominal), :value_method => :to_s, :text_method => :to_s
      = f.input :thoracic_phase, :as => :select, :collection => surgery_phases_options(:thoracic), :value_method => :to_s, :text_method => :to_s
