<% content_for :navbar_secondary do %>
  <%= render partial: 'navbar_secondary' %>
<% end %>
<h2>Edit Sample</h2>
<%= ecmc_form_for form_model, html: { class: 'form-horizontal' } do |f| %>
<div class="row">
  <div class="col-lg-6">
    <%= f.input :label, :as => :text, :input_html => { :readonly => true } %>
    <%= f.input :barcode, :as => :text, :input_html => { :readonly => true } %>
    <%= f.input :sample_class, :as => :text, :input_html => { :readonly => true } %>
    <%= f.input :sample_type, :as => :text, :input_html => { :readonly => true } %>
    <%= f.input :collection_time, :as => :text, :input_html => { :readonly => true } %>
    <%= f.input :frozen_time, :as => :text, :input_html => { :readonly => true } %>
    <%= f.input :storage_location, :as => :text, :input_html => { :readonly => true } %>
    <%= f.actions %>
  </div>
  <div class="col-lg-6">
    <%= f.input :haemolysed, :as => :select, :collection => %w(Yes No NA), :value_method => :to_s, :text_method => :to_s %>
    <%= f.input :event_position, :as => :select, :collection => %w(Pre-Chemotherapy Post-Chemotherapy), :value_method => :to_s, :text_method => :to_s %>
    <%= f.input :histology, :as => :select, :collection => form_model.histology_list, :value_method => :to_s, :text_method => :to_s %>
    <%= f.input :histology_text %>
  </div>
<% end %>
