<% content_for :navbar_secondary do %>
  <%= render partial: 'navbar_secondary' %>
<% end %>
<h1>Specimens</h1>
<div class="samples span-24 last">
  <table class="table table-border table-striped" id="sample_list_table">
    <thead>
     <tr>
       <th><%= t(:label,            :scope => "formtastic.labels") %></th>
       <th><%= t(:barcode,          :scope => "formtastic.labels") %></th>
       <th><%= t(:sample_class,     :scope => "formtastic.labels") %></th>
       <th><%= t(:sample_type,      :scope => "formtastic.labels") %></th>
       <th><%= t(:storage_location, :scope => "formtastic.labels") %></th>
       <th><%= t(:interval,         :scope => "formtastic.labels") %></th>
       <th><%= t(:haemolysed,       :scope => "formtastic.labels") %></th>
       <th><%= t(:event_position,   :scope => "formtastic.labels") %></th>
       <th><%= t(:histology,        :scope => "formtastic.labels") %></th>
       <th><%= t(:histology_text,   :scope => "formtastic.labels") %></th>
       <th></th>
       <th></th>
     </tr>
    </thead>
    <tbody>
      <% @samples.each do |sample| %>
      <tr>
        <td><%= sample.label          %></td>
        <td><%= sample.barcode        %></td>
        <td><%= sample.sample_class %></td>
        <td><%= sample.sample_type  %></td>
        <td><%= sample.storage_location %></td>
        <td><%= sample.interval %></td>
        <td><%= sample.haemolysed %></td>
        <td><%= sample.event_position %></td>
        <td><%= sample.histology %></td>
        <td><%= sample.histology_text %></td>
        <td><%= sample.edit_button %></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
