= ecmc_form_for form_model, html: { class: 'form-columnal' } do |f|
  .row
    .col-lg-6
      = f.input :censor_value, :as => :select, :collection => CensorValue.all, :value_method => :name
      = f.input :dod, :as => :date
      = f.input :dls, :as => :date
      = f.input :in_hospital_death
      = f.actions
    .col-lg-6
      = f.input :recurrence, :as => :select, :collection => ["Yes","No","Not Applicable"], :value_method => :to_s, :text_method => :to_s
      = f.input :date_of_recurrence, :as => :date
      = f.input :region_of_recurrence
      = f.input :local_recurrence, :as => :select, :collection => LocalRecurrence.all, :value_method => :name
      = f.input :evidence_for_recurrence_lookups, :as => :check_boxes, :collection => EvidenceForRecurrenceLookup.all, :value_method => :name
