= ecmc_form_for form_model, html: { class: 'form-columnal' } do |f|
  .row
    .col-lg-6
      = f.input :alcohol
      = f.input :previous_alcohol_excess, :as => :select, :collection => YesNoUnknown.all, :value_method => :name
      = f.input :known_barretts, :as => :select, :collection => YesNoUnknown.all, :value_method => :name
      = f.input :barretts_length
      = f.input :prague_classification_c
      = f.input :prague_classification_m
      = f.input :co_morbidity_lookups, :as => :check_boxes, :collection => CoMorbidityLookup.all
      = f.inputs :medications, class: 'nested_form' do
        = f.fields_for :medications do |g|
          = render 'medication_fields', :f => g
        = link_to_add_association 'Add', f, :medications, :html_options => { :"data-association-insertion-method" => "after"}
      %h3 Pulmonary Function
      = f.input :pulmonary_function_fev1_lm
      = f.input :pulmonary_function_fev1_p
      = f.input :pulmonary_function_fvc_lm
      = f.input :pulmonary_function_fvc_p
      = f.input :pulmonary_function_fev1_fvc_p
      %h3 BMI
      = f.input :height
      = f.input :weight
      = f.input :bmi
      = f.actions
    .col-lg-6
      = f.input :smoker, :as => :select, :collection => Smoker.all , :value_method => :name
      = f.input :smoker_packs, :class => "smoker_values"
      = f.input :smoker_years, :class => "smoker_values"
      = f.input :smoker_pack_years, :class => "smoker_values"
      = f.inputs :family_history_of_og_cancer, :class => "nested_form" do
        = f.fields_for :family_history_of_og_cancer do |fh_og_ca|
          = render 'family_history_of_og_cancer_fields', :f => fh_og_ca
        = link_to_add_association 'Add', f, :family_history_of_og_cancer
      = f.inputs :family_history_of_other_cancer, :class => 'nested_form' do
        = f.fields_for :family_history_of_other_cancer do |fh_ot_ca|
          = render 'family_history_of_other_cancer_fields', :f => fh_ot_ca
        = link_to_add_association 'Add', f, :family_history_of_other_cancer
      = f.input :egfr
      = f.input :albumin, :label => 'Albumin (g/L)'
      = f.input :haemoglobin, :label =>'Haemoglobin (g/L)'
      = f.input :weight_loss
      = f.input :weight_loss_weeks
      = f.input :exercise_tolerance, :as => :select, :collection => ExerciseTolerance.all, :value_method => :name
      = f.input :asa_grade, :as => :select, :collection => AsaGrade.all, :value_method => :name
      = f.input :presenting_complaint_lookups, :as => :check_boxes, :collection => PresentingComplaintLookup.all
      = f.input :referral_source, :as => :select, :collection => ReferralSource.all, :value_method => :name
