= ecmc_form_for form_model, html: { class: 'form-columnal' } do |f|
  .row
    .col-lg-6
      = f.input :date_of_diagnosis, :as => :date
      = render partial: 'staging_type', :locals => {:f => f, :name => :staging_ct}
      = render partial: 'staging_type', :locals => {:f => f, :name => :staging_ctpet}
      %h3
        = I18n.t :other_investigation, :scope => [:activerecord, :models]
      = f.fields_for :other_investigation do |s|
        = s.input :report, :as => :text_area
      %h3
        = I18n.t :post_chemotherapy_restaging, :scope => [:activerecord, :models]
      = f.fields_for :post_chemotherapy_restaging do |s|
        = s.input :pcr_type, :as => :select, :collection => PostChemotherapyRestagingLookup.all, :value_method => :name
        = s.input :finding, :as => :select, :collection => Response.all, :value_method => :name
      %h3
        = I18n.t :final_mdt_stage, scope: [:activerecord, :models]
      = f.fields_for :final_mdt_stage do |s|
        = render partial: 'tnm', :locals => { :f => s }
        = s.input :mets_location
      = f.actions
    .col-lg-6
      = f.input :histology, :as => :select, :collection => Histology.all, :value_method => :name
      = f.input :tumour_location, :as => :select, :collection => TumourLocation.all, :value_method => :name
      %h3
        = I18n.t :staging_endoscopic_ultrasound, scope: [:activerecord, :models]
      = f.fields_for :staging_endoscopic_ultrasound do |s|
        = s.input :report, :as => :text_area
        = s.input :tumour_from
        = s.input :tumour_to
        = s.input :nodes
        = render partial: 'tnm', :locals => { :f => s }
      %h3
        = I18n.t :laparoscopy, scope: [:activerecord, :models]
      = f.fields_for :laparoscopy do |s|
        .table-name{:'data-table-name' => 'laparoscopy'}
          = s.input :macroscopic_findings, :as => :text_area
          = s.input :tumour_location, :as => :select, :collection => TumourLocation.all, :value_method => :name
          = s.input :dmpd, :as => :select, :collection => YesNoUnknown.all, :value_method => :name
          = s.input :ascites, :as => :select, :collection => YesNoUnknown.all, :value_method => :name
          = s.input :mom, :as => :select, :collection => YesNoUnknown.all, :value_method => :name
          = s.input :metastasis_pathology, :as => :select, :collection => MetastasisPathology.all, :value_method => :name
          = s.input :primary_tumour_extension, :as => :select, :collection => PrimaryTumourExtension.all, :value_method => :name
          = s.input :washings_report, :as => :select, :collection => WashingsReport.all, :value_method => :name
