%h3
  = I18n.t name, scope: [:activerecord, :models]
= f.fields_for name do |s|
  - if name != :final_mdt_stage
    = s.input :report, :as => :text_area
    = render partial: 'tnm', :locals => { :f => s }
