= ecmc_form_for form_model, html: { class: 'form-columnal' } do |f|
  .row
    .col-lg-6
      = f.input :diagnostic_path_no
      = f.input :resection_pathology_number
      = f.input :tumour_location, :as => :select, :collection => TumourLocation.all, :value_method => :name
      = f.input :histology, :as => :select, :collection => Histology.all, :value_method => :name
      = f.input :signet_ring_cells, :as => :select, :collection => YesNoUnknown.all, :value_method => :name
      = f.input :grade, :as => :select, :collection => Grading.all, :value_method => :name
      = render partial: 'tnm', :locals => { :f => f }
      = f.input :number_of_nodes
      = f.input :postive_nodes
      = f.input :location_of_involved_nodes
      = f.input :nodes_on_both_sides, :as => :select, :collection => YesNoUnknown.all, :value_method => :name
      = f.input :histological_response, :as => :select, :collection => HistologicalResponse.all, :value_method => :name
      = f.actions
    .col-lg-6
      = f.input :barretts_adjacent_lookups, :as => :check_boxes, :collection  => BarrettsAdjacentLookup.all
      = f.input :maximum_tumour_diameter
      %h3 Distance to
      = f.input :distance_to_distal_margin
      = f.input :distance_to_proximal_margin
      = f.input :distance_to_circumferential_resection_margin
      = f.input :resection, :as => :select, :collection => ResectionLookup.all, :value_method => :name
      = f.input :lymphovascalar_invasion, :as => :select, :collection => YesNoUnknown.all, :value_method => :name
      = f.input :perineural_invasion, :as => :select, :collection => YesNoUnknown.all, :value_method => :name
      = f.input :venous_invasion, :as => :select, :collection => YesNoUnknown.all, :value_method => :name
