<%= ecmc_form_for demographic, html: { class: 'form-horizontal' } do |f| %>
<div class="row">
  <div class="col-lg-4">
    <%= f.input :hospital_number %>
  </div>
  <div class="col-lg-4">
    <%= f.input :chi %>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <%= f.input :gender_id, as: :select, collection: Gender.all %>
  </div>
  <div class="col-lg-4">
    <%= f.input :oe_number %>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <%= f.input :occams_id %>
  </div>
  <div class="col-lg-4">
    <%= f.input :neo_aegis %>
  </div>
</div>
<div class="row">
  <div class="col-lg-2">
    &nbsp;
  </div>
  <div class="col-lg-4">
    <h3>GP</h3>
    <%= f.input :gp_name %>
    <%= f.input :gp_address1, :input_html => { :class => 'form-control' } %>
    <%= f.input :gp_address2 %>
    <%= f.input :gp_address3 %>
    <%= f.input :gp_address4 %>
    <%= f.input :gp_phone_number %>
    <%= f.input :date_of_ecmc_consent, :as => :date, :order => [:day, :month, :year] %>
    <%= f.input :date_of_occams_consent, :as => :date, :order => [:day, :month, :year] %>
  </div>
  <div class="col-lg-2">
       &nbsp;
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
  <% if admin? %>
    <%= f.actions %>
    <% end %>
  </div>
</div>
<% end %>
