<% content_for :title do %>
Search - OG Database
<% end %>
<% content_for :navbar_secondary do %>
  <li id="navbar-post-op">
    <%= link_to "Post-Op", '#postop' %>
  </li>
  <li id="navbar-pre-op">
    <%= link_to "Pre-Op", '#preop' %>
  </li>
  <li id="navbar-recurrence-free">
    <%= link_to "Recurrence Free", '#rec-free' %>
  </li>
  <li id="navbar-pathology-absent">
    <%= link_to "Pathology Absent", '#path-absent' %>
  </li>
<% end %>
  <table class="table table-striped table-bordered" id="search_results_table">
    <thead>
      <tr>
        <th><%= t(:chi,                :scope => "activerecord.attributes.demographic") %></th>
        <th><%= t(:oe_number,          :scope => "activerecord.attributes.demographic") %></th>
        <th><%= t(:occams_id,          :scope => "activerecord.attributes.demographic") %></th>
        <th><%= t(:surgery_date,       :scope => "activerecord.attributes.demographic") %></th>
        <th><%= t(:dls,                :scope => "activerecord.attributes.demographic") %></th>
        <th><%= t(:date_of_recurrence, :scope => "activerecord.attributes.demographic") %></th>
        <th><%= t(:dod,                :scope => "activerecord.attributes.demographic") %></th>
      </tr>
    </thead>
    <tbody>
      <% search_results.each do |result| %>
      <tr>
        <td><%= link_to result.chi, edit_demographic_url(result.id)              %></td>
        <td><%= result.oe_number                                                 %></td>
        <td><%= result.occams_id                                                 %></td>
        <td><%= result.treatment.surgery_date unless result.treatment.nil?       %></td>
        <td><%= result.follow_up.dls unless result.follow_up.nil?                %></td>
        <td><%= result.follow_up.date_of_recurrence unless result.follow_up.nil? %></td>
        <td><%= result.follow_up.dod unless result.follow_up.nil?                %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
