@mixin rounded-corners($radius) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin border-radius($a, $b, $c, $d) {
    -webkit-border-radius: $a, $b, $c, $d;
    -moz-border-radius: $a, $b, $c, $d;
    border-radius: $a, $b, $c, $d;
}

@mixin gradient($first, $second) {
  background: $second;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$first', endColorstr='$second');
  background: -webkit-gradient(linear, 0 0, 0 50%, from($first), to($second)) no-repeat;
  background: -moz-linear-gradient(top,  $first,  $second 50%) no-repeat;
}


@mixin box-shadow($horiz, $vert, $blur, $color){
  -webkit-box-shadow: $horiz $vert $blur $color;
  -moz-box-shadow: $horiz $vert $blur $color;
  box-shadow: $horiz $vert $blur $color;
}
