$menu-color: #B02B2C;/*#a02622;*/
$border-color: #555555;

$back-color: #fffac0;/*#A4D5D8;*/
$grad-back-color: #000000;/*#5ea2a6; */

$panel-color: #eeeeee;
$table-border: darken(complement($panel-color),15%);

$fore-color: #ffffff;
$text-color: #555555;
$link-color: #ffffff;

$warning-red: #B02B2C;
$warning-headertext: #ffffff;

$message-box: #aaaaaa;
$message-headertext: #ffffff;

$header-height: 52px;

$submenu-color: #eee;
$title-color: #888;

$menubar-height: 28px;
$margin-right: 35px;
$menu-margin-right: 20px;
$text-color: #000000;
$link-color: #ffffff;/*#E3F5F6;*/

$sublink-color: darken($link-color, 50%);
$linkhover-color: darken($link-color, 70%);
$subnav-color: darken($submenu-color, 50%);

$gradient-color: $submenu-color;
$gradient-two-color: darken($gradient-color, 20%);

$main-container-side-padding: 20px;

$navbar-back-color: #eee;

$jstree-even: #a4d5d8;
$jstree-odd:  #5ea2a6;

$hover-highlight: #76b6ec;
$selection-color: #3392e3;

$disabled-text: #888;

$ecmc-success: #5cb85c;
$input-good: lighten($ecmc-success, 30%);
$input-bad: lighten($warning-red, 30%);
