/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require formtastic
 *= require datatables.net-bs
 *= require eonasdan-bootstrap-datetimepicker
 *= require og_database
 *= require_tree .

*/
ul, ol, li {
  list-style-type: none;
}

li.date_select legend {
    display: block;
    padding-bottom: 20px;
}

li.date_select li.fragment {
    clear: none;
}


.formtastic fieldset.fragments > legend.label {
position: inherit;
width: 95%;
left: 0px;
}
