// Place all the styles related to the Exposures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.know_barretts_container {
}

.smoker_container_container {
  padding-bottom: 20px;
}