@import "settings";
@import "mixins";
@import "fontawesome/variables";


.navbar {
  background-color: $navbar-back-color;
  margin-bottom: 0px;
  border-bottom: 2px solid darken($navbar-back-color, 20%);

  .navbar-nav {
    .open > a, .open > a:focus, li.active > a, li.active > a:hover {
      color: $link-color;
      background-color: $selection-color;
    }
    li:hover {
      background-color: $hover-highlight;
    }
  }
}

.form-control:hover {
  background-color: lighten($hover-highlight, 20%);
}

.form-control:hover[readonly] {
  background-color: #eee;
}

.btn.btn-default:hover {
  background-color: $selection-color;
  color: white;
}

.btn.btn-default[readonly] {
  background-color: #eee;
}
select.form-control {
  option {
    background-color: $submenu-color;
  }
}

.dataTables_paginate > .pagination > .paginate_button > a:hover {
  background-color: lighten($hover-highlight, 20%);
}


.form-horizontal {
  .row {
    &:last-child {
      .input-group {
        padding-bottom: 0px;
      }
    }

    .input-group {
      padding-bottom: 10px;
    }
  }
}

.form-columnal {
  .row {
    .input-group {
      padding-bottom: 10px;
    }
  }
}

.input-group-addon > .fa-calendar {
  cursor: pointer;
}

footer {
  border-top: 1px solid black;
}

.type-selection {
  padding-top: 10px;
  cursor: pointer;
}

.table-scroll {
  overflow: scroll;
  height: 800px;
  width: 800px;
}

.checked-list-box-div {
  overflow: hidden;
  height: 220px;
}

.always-visible.ps.container > .ps__scrollbar-x-rail,
.always-visible.ps.container > .ps__scrollbar-y-rail {
  opacity: 0.6;
}

.input-delete {
  border:1px solid transparent;
  background-color: transparent;
  vertical-align: middle;
  outline: 0;
  cursor: pointer;

  &:after {
    z-index: 1;
    right: 35px;

  }
}
.form-control:not(:valid) ~ .input-delete {
  display: none;
}

.clear-input.fa {
  font-size: 14pt;
  margin-top: 5px;
  cursor: pointer;

  &:hover {
    color: red;
  }
}
.input-group .form-control {
  background-color: #fcf8e3;
}

.input-group-addon {
  background: #dff0d8;
}
body {
  background-color: #ddd;
}

.tippy-tooltip.bigger-theme {
  font-size: 14pt;
}
