$body-color: #e0e0e0;
$top-margin: 10px;
$short-length: 100px;
$medium-length: 150px;
$long-length: 200px;

.content {
  margin-top: $top-margin;
  padding-top: 5px;
}

.horizontal_menu ul {
  display: inline;
  list-style-type: none;
  padding-left: 10px;
}

.horizontal_menu > li {
  display: inline;
  list-style-type: none;
}


.content_inner {
  background-color: darken($body-color,15%);
  border-style: solid;
  border-width: 1px;
  border-color: red;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding-top: 5px;
  padding-left: 10px;
  padding-buttom: 5px;
}
