// Place all the styles related to the stagings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
fieldset.tnm > ol {
    margin-left: 40px;
}
fieldset.tnm > ol > li {
    float: left;
    display: block;
    clear:none;
}
fieldset.tnm > ol > li > select {
    width: 50px;
}
