// Place all the styles related to the treatments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left_container {
   margin-top: 80px;
}

#treatment_preop_chemo_complications_input {
    width: 72%;
}

#treatment_preop_chemo_complications {
    wdith: 72%;
}
