  <li id="nav-demographic"><%= link_to_demographic %></li>
  <li id="nav-exposure"><%= link_to_new_or_edit :exposure %></li>
  <li id="nav-staging"><%= link_to_new_or_edit :staging %></li>
  <li id="nav-treatment"><%= link_to_new_or_edit :treatment %></li>
  <li id="nav-pathologies"><%= link_to_new_or_edit :pathology %></li>
  <li id="nav-follow_up"><%= link_to_new_or_edit :follow_up %></li>
  <li id="nav-ffpe"><%= link_to_new_or_edit :ffpe %></li>
  <li id="nav-samples"><%= link_to_samples %></li>
