= f.inputs :tnm, :class => 'tnm' do
  = f.input :tnm_t, :as => :select, :collection => ["Tx", "T0", "T1a", "T1b", "T2", "T3", "T4a", "T4b", "NA"], :value_method => :to_s, :text_method => :to_s
  = f.input :tnm_n, :as => :select, :collection => ["N0", "N1", "N2", "N3", "N3a", "N3b", "NA"], :value_method => :to_s, :text_method => :to_s
  = f.input :tnm_m, :as => :select, :collection => ["M0", "M1", "NA"], :value_method => :to_s, :text_method => :to_s
