= ecmc_form_for form_model, html: { class: 'form-columnal' } do |f|
  .row
    .col-lg-6
      = f.input :path_response_slides, :as => :select, :collection => %w(Yes No NA), :value_method => :to_s, :text_method => :to_s
      = f.input :slide_location
      = f.input :tma, :as => :select, :collection => %w(Yes No NA), :value_method => :to_s, :text_method => :to_s
      = f.input :tma_cores, :as => :select, :collection => ("A".."D"), :value_method => :to_s, :text_method => :to_s
      = f.input :core_location
      = f.actions
