  <li><%= link_to_demographic %></li>
  <li><%= link_to_new_or_edit :exposure %></li>
  <li><%= link_to_new_or_edit :staging %></li>
  <li><%= link_to_new_or_edit :treatment %></li>
  <li><%= link_to_new_or_edit :pathology %></li>
  <li><%= link_to_new_or_edit :follow_up %></li>
  <li><%= link_to_new_or_edit :ffpe %></li>
  <li><%= link_to_samples %></li>

