<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? content_for(:title) : "OG Database" %></title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body data-log-level="<%= js_loglevel %>">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'Oesophageal DB', root_path, class: 'navbar-brand' %>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li id="navbar-list" class="active">
              <%= link_to "Scoped Search", root_path %>
            </li>
            <li id="navbar-new">
              <%= link_to "New Demographic", new_demographic_path %>
            </li>
            <li id="navbar-excel">
              <%= link_to "DB To Excel", (reports_demographics_path + '.xlsx') %>
            </li>
          </ul>
          <div class="navbar-right">
          <%= form_for :search, url: search_demographics_path, html: { class: 'navbar-form navbar-left' } do %>
            <div class="form-group">
              <input type="text" class="form-control input-group" placeholder="Search" id="q" name="q">
            </div>
            <button type="submit" class="btn btn-primary">Go</button>
            <% end %>
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-expanded="false">
                  <i class="fa fa-user"></i>
                  <%= current_user.name %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "Details", "#" %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Sign Out", "#" %></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <% if content_for? :navbar_secondary %>
    <div class="navbar navbar-default navbar-secondary">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <%= yield :navbar_secondary %>
        </ul>
      </div>
    </div>
    <% end %>
    <div id="main" class="container-fluid">
      <div class="row">
        <div class="col-lg-8 pull-right">
          <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name %>
          <% end -%>
        </div>
      </div>
      <%= yield %>
    </div>
    <footer>
      <%= render partial: 'footer' %>
    </footer>
  </body>
</html>
