<!DOCTYPE html>
<html>
<head>
  <title>OgDatabase</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
   <div class="navbar span-24 last">
    <div class="navbar_inner span-24">
	<ul class="horizontal_menu span-24">
          <li><%= link_to "New Demographic", new_demographic_path %></li>
          <%= render 'layouts/demographic_navigation' if get_demographic.persisted? %>
	  <li><%= link_to "Search", search_demographics_path %></li>
          <li><%= link_to "Exit Path", logout_path %></li>
	</ul>
	<ul>
	  <li><b><%= session[:cas_user] %></b></li>
        </ul>
    </div>
   </div>
  <div class="clear span-24 last container">
    <div class="content span-24">
      <div class="content_inner span-24">
	<%= yield %>
      </div>
    </div>
   </div>
</body>
</html>
